/* componentes botoes*/

.botao-cadastro {
  background-color: var(--fundo-botao-verde);
  border: none;
  height: 45px;
  border-radius: 20px;
  width: 200px;
  color: white;
}

.botao-excluir {
  background-image: url(../svg/trash.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
  padding-left: 40px !important;
  height: 20px;
  border: none;
  background-color: transparent;
  display: block;
}

.botao-editar {
  background-image: url(../svg/pencil-square.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
  padding-left: 40px !important;
  height: 20px;
  border: none;
  background-color: transparent;
  display: block;
}

/* componentes barra de pesquisa e checkbox de excluir*/

.barra-pesquisa {
  background-color: var(--azul-claro-50);
  border: none;
  border-radius: 20px;
  height: 45px;
}

.barra-pesquisa::placeholder {
  color: white;
}
