/* estilo do menu lateral */

.sidebar {
  background-color: var(--azul-escuro);
  height: 100vh;
  width: 100px;
}

.sidebar nav {
  flex-grow: 1;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sidebar nav ul li a {
  display: block;
  color: white;
  width: 100%;
  text-align: center;
  transition: 0.2s;
}

.sidebar nav ul li a i {
  display: block;
  font-size: 35px;
}

.sidebar nav ul li a.ativo {
  background-color: var(--fundo-lista);
  color: var(--azul-claro);
  border-left: 5px solid var(--azul-claro);
  font-weight: bold;
}

.sidebar .botao-logout {
  margin-bottom: 0.5em;
}

.sidebar .botao-logout button {
  background: none;
  border: none;
  transition: 0.2s;
}

.sidebar .botao-logout button:hover {
  transform: scale(1.05);
}

.sidebar .botao-logout button i {
  font-size: 35px;
}
