/* estilo da tabela*/

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--azul-escuro);
  color: white;
  border-radius: 20px;
}

table thead {
  height: 50px;
  text-align: center;
}

table thead tr th {
  background-color: var(--azul-escuro);
  border-radius: 20px;
}

table tbody tr {
  text-align: center;
}

table tbody tr td {
  padding: 15px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

table tbody tr {
  background-color: var(--fundo-lista);
}

.item-para-excluir {
  cursor: pointer;
  transform: scale(1.2);
}
